[submodule "techtana.github.io"]
	path = techtana.github.io
	url = https://github.com/techtana/techtana.github.io
[submodule "ghaction_blogpost_ai_enhanced"]
	path = ghaction_blogpost_ai_enhanced
	url = https://github.com/techtana/ghaction_blogpost_ai_enhanced.git
[submodule "ghaction_blogpost_from_ipynb"]
	path = ghaction_blogpost_from_ipynb
	url = https://github.com/techtana/ghaction_blogpost_from_ipynb.git
[submodule "content_management_platform"]
	path = content_management_platform
	url = https://github.com/techtana/content_management_platform.git
